// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.handle {
  cursor: move;
}

table#setlist {
  clear: left;
}

.song-stat {
  h3 {
    //font-size: 1.5em;
    font-weight: normal;
  }
  p {
    font-size: 2em;
    color: #888;
    font-style: italic;
  }
}
