<h4>Archive recordings</h4>
<% @archive_info["docs"].each do |show| %>
  <p>
    <%= content_tag :strong, link_to("http://archive.org/details/#{show['identifier']}", "http://archive.org/details/#{show['identifier']}", :target => "_new") %> | 
    <%= link_to "play show", "#", :class => "play-show", :data => { :source => show['identifier'] }%><br />
    <em>Average rating: <%= show["avg_rating"]%></em>
  </p>
<% end %>